/* ---------- FONTS ---------- */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

/* ---------- GENERAL RESET ---------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #e0e7ff;
  display: grid;
  place-content: center;
  font-family: 'Red Hat Display', sans-serif;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ---------- UTILITY CLASSES ---------- */
.flex-row {
  display: flex;
  flex-direction: row;
}
/* ---------- GENERAL STYLES ---------- */
h1,
h2,
h3,
h4 {
  color: #1F2E55;
}

a {
  color: #382AE1;
  font-weight: 700;
  font-size: 13px;
  line-height: 17.2px;
}

a:hover {
  color: #766CF1;
  text-decoration: none;
}

.background-svg {
  position: absolute;
  top: 0;
  min-width: 100%;
  height: 40%;
  z-index: -999;
}

h2 {
  font-weight: 900;
  font-size: 28px;
  line-height: 37.04px;
  margin: 10px 0;
}

p {
  color: #717FA6;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.button {
  border-radius: 11px;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
  background-color: #382AE1;
  color: #fff;
  border: none;
  padding: 15px;
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
  margin: 10px 0px;
}

.button:hover {
  transition: 200ms;
  background-color: #766cf1;
  box-shadow: none;
}

.no-style-btn {
  color: #717FA6;
  background-color: transparent;
  box-shadow: none;
}

.no-style-btn:hover {
  color: #000;
  background-color: transparent;
}

/* ---------- ORDER SUMMARY CARD ---------- */
.order-summary-card {
  width: 450px;
  height: 697px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
  overflow: hidden;
  animation: fade-in 500ms;
}

.card-hero {
  width: 100%;
  height: 220px;
  background-color: #382ae1;
  background-image: url('images/illustration-hero.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  text-align: center;
}

.order-view {
  display: flex;
  flex-direction: row;
  background-color: #f7f9ff;
  border-radius: 11px;
  margin: 20px 0px;
  gap: 10px;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.card-content .flex-row {
  gap: 20px;
}

/* ---------- ANIMATONS ---------- */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
}

/* ---------- MEDIA QUERIES ---------- */
@media screen and (max-width: 500px) {
  .order-summary-card {
    transition: 500ms;
    transform: scale(0.7);
  }
}