/* ---- FONT ---- */
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

/* ---- CSS RESET ---- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #D5E1Ef;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Outfit', sans-serif;
  display: grid;
  place-content: center;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---- GENERAL STYLES ---- */
h2 {
  font-size: 22px;
  color: #1F314f;
  font-weight: 700;
  line-height: 28px;
  margin: 10px 0;
}

p {
  font-size: 15px;
  color: #7D889E;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1875px;
  margin: 10px 0;
}

/* ---- QR CODE CARD ---- */
.qr-code-card {
  height: 497px;
  width: 320px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 25px 25px rgba(0,0,0,0.0476518);
  text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.qr-code-img {
  width: 288px;
  height: 288px;
  border-radius: 20px;
  object-fit: cover;
}