/* ---- FONTS ---- */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

/* ---- CUSTOM PROPERTIES ---- */
:root {
  --gradient-border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --red: hsl(0, 100%, 66%);

  --white: hsl(0, 0%, 100%);
  --light-violet: hsl(270, 3%, 87%);
  --dark-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  --ss-font: 'Space Grotesk', sans-serif;
}

/* ---- RESET ---- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 18px;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
