/* ---- FONT ---- */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

/* ---- CUSTOM PROPERTIES ---- */
:root {
  --dark-blue-heading: hsl(217, 19%, 35%);
  --desaturated-blue-paragraph: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-blue-bg: hsl(210, 46%, 95%);
}

/* ---- RESET ---- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--light-blue-bg);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: var(--desaturated-blue-paragraph);
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  display: grid;
  place-content: center;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---- GENERAL STYLES ---- */
h1,
h2,
h3,
h4,
h5 {
  color: var(--dark-blue-heading);
}

p {
  padding: 10px 0;
}

small {
  color: var(--grayish-blue);
}

/* ---- ARTICLE CARD ---- */
.article-card {
  height: 300px;
  max-width: 800px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: row;
  animation: fade-in 500ms;
}

.article-card-img {
  width: 40%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

h3 {
  font-size: 21px;
  line-height: 28px;
  font-weight: 900;
}

.article-card-content {
  padding: 30px;
  width: 60%;
}

.card-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 19px;
}

.article-details {
  display: flex;
  flex-direction: row;
  gap: 20px;
  line-height: 1.4;
}

.profile-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/* Share button */
.share-container {
  position: relative;
}

.share-btn {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  border: none;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.fa-share {
  color: var(--desaturated-blue-paragraph);
}

.btn-active {
  transition: 200ms;
  color: var(--light-blue-bg);
  background-color: var(--desaturated-blue-paragraph);
}

.share-options {
  position: absolute;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--dark-blue-heading);
  padding: 15px 25px;
  border-radius: 7px;
  box-sizing: unset;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 19px;


  opacity: 0;
  pointer-events: none;
}

.share-options i {
  color: var(--light-blue-bg);
  font-size: 20px;
}

.options-active {
  transition: 400ms;
  opacity: 1;
  pointer-events: unset;
  transform: translateX(-50%);
}

#triangle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  border-top: solid var(--dark-blue-heading) 10px;
  border-bottom: solid transparent 10px;
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
}

/* ---- MEDIA QUERIES ---- */
@media screen and (max-width: 1000px) {
  .article-card {
    flex-direction: column;
    margin: auto;
    width: 400px;
    height: 650px;
  }

  .article-card-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .article-card-content {
    width: 100%;
  }

  .share-options {
    left: -130px;
    bottom: -9px;
    gap: 10px
  }

  #triangle {
    left: 99%;
    top: 50%;
    transform: translateY(-50%);

    border-top: solid transparent 12px;
    border-bottom: solid transparent 12px;
    border-left: solid var(--dark-blue-heading) 12px;
    border-right: solid transparent 12px;
  }
}

@media screen and (max-width: 400px) {
  .article-card {
    width: 300px;
    margin: 20px 0;
  }
}

/* ---- ANIMATION ---- */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
}